<%= render layout:'versions/version' do %>

<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>
				<%= link_to @participation.user.f_name, @participation.user %> 
				<small><%= @version.name %></small>
			</h1>
		</div>
	</div>
</div>



<div class="row">
	<div class="col-md-12">
		<%= render 'participation_games', participation: @participation %>
	</div>
</div>


<% end %>