<%= render layout:'users/user' do %>

<div class="row not_together">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
            Equipos
            </div>
            
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre equipo</th>
                            <th>Integrantes</th>
                        </tr>
                    </thead>
                    <% @user.teams.each do |t| %>
                        <tr>
                            <td><%= link_to t.name, t %></td>
                            <td><%= t.users.count %></td>
                        </tr>
                    <% end %>
                </table>
            </div>
        </div>    
    </div>  
</div>
<% end %>