<%= render layout:'teams/team' do %>
  <div class="row not_together">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Miembros del equipo
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Nombres</th>
            </tr>
          </thead>
          <% @team.users.each do |u| %>
            <tr>
              <td><%= link_to u.f_name, u %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
<% end %>