<div class="row not_together" id="fixture_content">
	<div class="col-md-12">
		<%= render 'versions/stage_rounds', stage: stage %>
	</div>


	<div class="col-md-12">
		<%= render 'versions/round_games', round: stage.rounds.first %>
	</div>
</div>
