<% if stage.rounds.count > 0 %>
	

	<ul class="nav nav-tabs">
		<% stage.rounds.each do |r| %>
			<li role="presentation"><%= link_to r.name, version_round_path(@version, r), remote: true %></li>
		<% end %>
	</ul>
<% else %>
	<h3 class="text-info">No hay fechas programadas para esta etapa</h3>
<% end %>