<%= render layout:'version' do %>

	<div class="row not_together">
		<div class="col-md-12">
			<ul class="nav nav-pills">
				<% @version.stages.each do |s| %>
					<li><%= link_to s.name, s, remote: true %></li>
				<% end %>
			</ul>
		</div>
	</div>

	<%= render 'fixture_content', stage: @version.stages.first %>




<% end %>