<%= render layout:'version' do %>

	<div class="row not_together">
		<div class="col-md-12">
			<ul class="pager">
				<% @version.stages.each do |s| %>
					<li><%= link_to s.name, version_stage_path(@version, s), remote: true %></li>
				<% end %>
			</ul>
		</div>
	</div>

	<div class="row not_together">
		<div class="col-md-12">
			<%= render 'fixture_content', stage: @version.stages.first %>
		</div>
	</div>




<% end %>