<%= render layout:'versions/version' do %>
	<%= render 'stads_header' %>
	<%= render 'versions/stads_menu' %>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Posiciones
				</div>
				<div class="panel-body">
					<%= render 'versions/stads_table', stage:Stage.first %>
				</div>
			</div>
		</div>
	</div>	



<% end %>