body{
	background-image: url('background_paper.jpg');
}

.site_boby{
	margin-top: 70px;
	background: white;
}

.content_container{
	border: 1px solid #888;
	padding-bottom: 50px;
}

.not_together{
	margin: 10px 0px;
}

.full{
	width: 100%;
}